body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  padding-left: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: calc(50% - 60px);
  padding: 16px;
  aspect-ratio: 16 / 9;
}

.container {
  display: flex;
  justify-content: space-between;
}

a,li {
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 48px;
}
