body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto ;
  padding: 20px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 0 0 16px 0;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px;
}